<app-admin>

  <ng-container class="txt">

      <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button color="primary" (click)="onCreate()" class="btn-block float-md-right float-sm-left">Créer session</button>
            </div>
            
            <div class="col-md-6">
              <button mat-raised-button color="warn" (click)="onDelete()" class="btn-block float-md-right float-sm-left">Supprimer session</button>
            </div>
          </div>
        </div>
        <br>
      <div class="container-fluid">
          <table class="table table-bordered">
            <thead>
              <tr class="jours">
                <td>Jours<br>Horaire</td>
                <th name="jour1" (click)="date()">Lundi<br>23/11</th>
                <th name="jour2" (click)="date()">Mardi<br>24/11</th>
                <th name="jour3" (click)="date()">Mercredi<br>25/11</th>
                <th name="jour4" (click)="date()">jeudi<br>26/11</th>
                <th name="jour5" (click)="date()">Vendredi<br>27/11</th>
                <th name="jour6" (click)="date()">Samedi<br>28/11</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th (click)="horaire()" class="horaire" name="hSeance1">8h <br> 9h30</th>
                <td (click)="event()" name="jour1Seance1"></td>
                <td (click)="event()" name="jour2Seance1"></td>
                <td (click)="event()" name="jour3Seance1"></td>
                <td (click)="event()" name="jour4Seance1"></td>
                <td (click)="event()" name="jour5Seance1"></td>
                <td (click)="event()" name="jour6Seance1"></td>
              </tr>
              <tr>
                <th (click)="horaire()" class="horaire" name="hSeance2">9h40 <br> 11h10</th>
                <td (click)="event2($event)" id="jour1Seance2"name="jour1Seance2"></td>
                <td (click)="event()" name="jour2Seance2"></td>
                <td (click)="event()" name="jour3Seance2"></td>
                <td (click)="event()" name="jour4Seance2"></td>
                <td (click)="event()" name="jour5Seance2"></td>
                <td (click)="event()" name="jour6Seance2"></td>
              </tr>
              <tr>
                <th (click)="horaire()" class="horaire" name="hSeance3">11h20 <br> 12h50</th>
                <td (click)="event()" name="jour1Seance3"></td>
                <td (click)="event()" name="jour2Seance3"></td>
                <td (click)="event()" name="jour3Seance3"></td>
                <td (click)="event()" name="jour4Seance3"></td>
                <td (click)="event()" name="jour5Seance3"></td>
                <td (click)="event()" name="jour6Seance3"></td>
              </tr>
              <tr>
                  <th (click)="horaire()" class="horaire" name="hSeance4">13h40 <br> 15h10</th>
                  <td (click)="event()" name="jour1Seance4"></td>
                  <td (click)="event()" name="jour2Seance4"></td>
                  <td (click)="event()" name="jour3Seance4"></td>
                  <td (click)="event()" name="jour4Seance4"></td>
                  <td (click)="event()" name="jour5Seance4"></td>
                  <td (click)="event()" name="jour6Seance4"></td>
              </tr>
              <tr>
                  <th (click)="horaire()" class="horaire" name="hSeance5">15h20 <br> 16h50</th>
                  <td (click)="event()" name="jour1Seance5"></td>
                  <td (click)="event()" name="jour2Seance5"></td>
                  <td (click)="event()" name="jour3Seance5"></td>
                  <td (click)="event()" name="jour4Seance5"></td>
                  <td (click)="event()" name="jour5Seance5"></td>
                  <td (click)="event()" name="jour6Seance5"></td>
              </tr>
              <tr>
                  <th (click)="horaire()" class="horaire" name="hSeance6">17h00 <br> 18h30</th>
                  <td (click)="event()" name="jour1Seance6"></td>
                  <td (click)="event()" name="jour2Seance6"></td>
                  <td (click)="event()" name="jour3Seance6"></td>
                  <td (click)="event()" name="jour4Seance6"></td>
                  <td (click)="event()" name="jour5Seance6"></td>
                  <td (click)="event()" name="jour6Seance6"></td>
              </tr>    
            </tbody>
          </table>
        </div>


        <div class="container-fluid" *ngIf="">
            <table class="table table-bordered">
              <thead>
                <tr class="week2Jjours">
                  <td>Jours<br>Horaire</td>
                  <th name="week2Jour1" (click)="date()">Lundi<br>23/11</th>
                  <th name="week2Jour2" (click)="date()">Mardi<br>24/11</th>
                  <th name="week2Jour3" (click)="date()">Mercredi<br>25/11</th>
                  <th name="week2Jour4" (click)="date()">jeudi<br>26/11</th>
                  <th name="week2Jour5" (click)="date()">Vendredi<br>27/11</th>
                  <th name="week2Jour6" (click)="date()">Samedi<br>28/11</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th (click)="horaire()" class="horaire" name="week2hSeance1">8h <br> 9h30</th>
                  <td (click)="event()" name="week2Jour1Seance1"></td>
                  <td (click)="event()" name="week2Jour2Seance1"></td>
                  <td (click)="event()" name="week2Jour3Seance1"></td>
                  <td (click)="event()" name="week2Jour4Seance1"></td>
                  <td (click)="event()" name="week2Jour5Seance1"></td>
                  <td (click)="event()" name="week2Jour6Seance1"></td>
                </tr>
                <tr>
                  <th (click)="horaire()" class="horaire" name="week2hSeance2">9h40 <br> 11h10</th>
                  <td (click)="event()" name="week2Jour1Seance2"></td>
                  <td (click)="event()" name="week2Jour2Seance2"></td>
                  <td (click)="event()" name="week2Jour3Seance2"></td>
                  <td (click)="event()" name="week2Jour4Seance2"></td>
                  <td (click)="event()" name="week2Jour5Seance2"></td>
                  <td (click)="event()" name="week2Jour6Seance2"></td>
                </tr>
                <tr>
                  <th (click)="horaire()" class="horaire" name="week2hSeance3">11h20 <br> 12h50</th>
                  <td (click)="event()" name="week2Jour1Seance3"></td>
                  <td (click)="event()" name="week2Jour2Seance3"></td>
                  <td (click)="event()" name="week2Jour3Seance3"></td>
                  <td (click)="event()" name="week2Jour4Seance3"></td>
                  <td (click)="event()" name="week2Jour5Seance3"></td>
                  <td (click)="event()" name="week2Jour6Seance3"></td>
                </tr>
                <tr>
                    <th (click)="horaire()" class="horaire" name="week2hSeance4">13h40 <br> 15h10</th>
                    <td (click)="event()" name="week2Jour1Seance4"></td>
                    <td (click)="event()" name="week2Jour2Seance4"></td>
                    <td (click)="event()" name="week2Jour3Seance4"></td>
                    <td (click)="event()" name="week2Jour4Seance4"></td>
                    <td (click)="event()" name="week2Jour5Seance4"></td>
                    <td (click)="event()" name="week2Jour6Seance4"></td>
                </tr>
                <tr>
                    <th (click)="horaire()" class="horaire" name="week2hSeance5">15h20 <br> 16h50</th>
                    <td (click)="event()" name="week2Jour1Seance5"></td>
                    <td (click)="event()" name="week2Jour2Seance5"></td>
                    <td (click)="event()" name="week2Jour3Seance5"></td>
                    <td (click)="event()" name="week2Jour4Seance5"></td>
                    <td (click)="event()" name="week2Jour5Seance5"></td>
                    <td (click)="event()" name="week2Jour6Seance5"></td>
                </tr>
                <tr>
                    <th (click)="horaire()" class="horaire" name="week2hSeance6">17h00 <br> 18h30</th>
                    <td (click)="event()" name="week2Jour1Seance6"></td>
                    <td (click)="event()" name="week2Jour2Seance6"></td>
                    <td (click)="event()" name="week2Jour3Seance6"></td>
                    <td (click)="event()" name="week2Jour4Seance6"></td>
                    <td (click)="event()" name="week2Jour5Seance6"></td>
                    <td (click)="event()" name="week2Jour6Seance6"></td>
                </tr>    
              </tbody>
            </table>
          </div>
  </ng-container>
</app-admin>


