.jours{
    text-align:center;
}
.date{
    text-align:center;
    font-size:13px;
}
.horaire{
    text-align:right;
}

.horaire:hover{
    cursor:pointer;
    background:rgb(63, 81, 181)
}

td:hover{
    cursor:pointer;
    background:rgba(239, 255, 8, 0.801);
}

.jours th:hover{
    cursor:pointer;
    background:rgb(63, 81, 181)
}

.jours td:hover{
    cursor:context-menu;
    background: rgba(0,0,0,0)
}