<app-professor>
    <ng-container class="txt"> 

<div class="container-fluid">
  <div class="row">
<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr class="jours">
        <th></th>
        <th>Lundi<br><label name="jour1">23/11</label></th>
        <th>Mardi <br><label name="jour2">24/11</label></th>
        <th>Mercredi <br><label name="jour3">25/11</label></th>
        <th>jeudi <br><label name="jour4">26/11</label></th>
        <th>Vendredi <br><label name="jour5">27/11</label></th>
        <th>Samedi <br><label name="jour6">28/11</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="horaire" name="hSeance1">8h <br> 9h30</th>
        <td (click)="event()" name="jour1Seance1"></td>
        <td (click)="event()" name="jour2Seance1"></td>
        <td (click)="event()" name="jour3Seance1"></td>
        <td (click)="event()" name="jour4Seance1"></td>
        <td (click)="event()" name="jour5Seance1"></td>
        <td (click)="event()" name="jour6Seance1"></td>
      </tr>
      <tr>
        <th class="horaire" name="hSeance2">9h40 <br> 11h10</th>
        <td (click)="event()" name="jour1Seance2"></td>
        <td (click)="event()" name="jour2Seance2"></td>
        <td (click)="event()" name="jour3Seance2"></td>
        <td (click)="event()" name="jour4Seance2"></td>
        <td (click)="event()" name="jour5Seance2"></td>
        <td (click)="event()" name="jour6Seance2"></td>
      </tr>
      <tr>
        <th class="horaire" name="hSeance3">11h20 <br> 12h50</th>
        <td (click)="event()" name="jour1Seance3"></td>
        <td (click)="event()" name="jour2Seance3"></td>
        <td (click)="event()" name="jour3Seance3"></td>
        <td (click)="event()" name="jour4Seance3"></td>
        <td (click)="event()" name="jour5Seance3"></td>
        <td (click)="event()" name="jour6Seance3"></td>
      </tr>
      <tr>
          <th class="horaire" name="hSeance4">13h40 <br> 15h10</th>
          <td (click)="event()" name="jour1Seance4"></td>
          <td (click)="event()" name="jour2Seance4"></td>
          <td (click)="event()" name="jour3Seance4"></td>
          <td (click)="event()" name="jour4Seance4"></td>
          <td (click)="event()" name="jour5Seance4"></td>
          <td (click)="event()" name="jour6Seance4"></td>
      </tr>
      <tr>
          <th class="horaire" name="hSeance5">15h20 <br> 16h50</th>
          <td (click)="event()" name="jour1Seance5"></td>
          <td (click)="event()" name="jour2Seance5"></td>
          <td (click)="event()" name="jour3Seance5"></td>
          <td (click)="event()" name="jour4Seance5"></td>
          <td (click)="event()" name="jour5Seance5"></td>
          <td (click)="event()" name="jour6Seance5"></td>
      </tr>
      <tr>
          <th class="horaire" name="hSeance6">17h00 <br> 18h30</th>
          <td (click)="event()" name="jour1Seance6"></td>
          <td (click)="event()" name="jour2Seance6"></td>
          <td (click)="event()" name="jour3Seance6"></td>
          <td (click)="event()" name="jour4Seance6"></td>
          <td (click)="event()" name="jour5Seance6"></td>
          <td (click)="event()" name="jour6Seance6"></td>
      </tr>    
    </tbody>
  </table>
</div>
</div>
</div>
</ng-container>
</app-professor>