
<app-professor>
    <ng-container class="txt"> 
<br>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
        <img id="profile-img" class="img-fluid user" src="../../../../assets/img/user2.png" />
    </div>

    <div class="col-md-4">
      <h3> Modifier compte </h3>
      <div class="example-container">
        <mat-form-field>
          <input matInput="number" name="cin "placeholder="CIN" disabled [(ngModel)]="form.cin">
        </mat-form-field>

        <mat-form-field>
            <input matInput="text" name="username" placeholder="Nom et prénom" [(ngModel)]="form.user" > 
        </mat-form-field>

        <mat-form-field>
          <input matInput="password" [type]="hide ? 'password' : 'text'" name="password" placeholder="Mot de passe"[(ngModel)]="form.password" >
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button mat-raised-button color="primary"class="btn-block">Modifier</button>
    </div>
  </div>
</div>
</ng-container>
</app-professor>